node_modules
.env
dist/
../../../../
.CFUserTextEncoding
.bash_history
.bash_sessions/
.cache/
.config/
.expo/
.gitconfig
.zsh_history
node_modules/
*.swp
*.dSYM/
.idea/
.vscode/
# Dependencies
/node_modules
/frontend/node_modules

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build files
/build
/frontend/build

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE specific files
.idea
.vscode
*.swp
*.swogit add .